<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apoyando</title>
    <link rel="icon" href="img/icon.jpg"> <!-- Adjusted icon source -->
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Гитарная школа "Apoyando"</h1>
    </header>
    
    <div id="div-nav" class="container">
        <a href="/"><img src="img/guitar.png" alt="guitar" class="logo" width="25px"></a> <!-- Adjusted image source -->
        <nav class="navbar">
            <ul class="ul-nav-left">
                <li class="li-nav" id="menu">
                    <div class="dropdown">
                        <a class="main-page-link">
                            <img class="img-nav" src="img/menu-burger.png" style="vertical-align: bottom;"><span>Menu</span></a> <!-- Adjusted image source -->
                        <div class="dropdown-content">
                            <a class="main-page-link" href="/">
                                <img class="img-nav" src="img/home.png" alt="home"><span>Home</span>
                            </a>
                            <a class="main-page-link" href="/rating">
                                <img class="img-nav" src="img/rating.png" alt="rating"><span>Rating</span>
                            </a>
                            <a class="main-page-link" href="/profiles">
                                <img class="img-nav" src="img/user.png" alt="user"><span>Profiles</span>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="li-nav">
                    <a class="main-page-link" href="/">
                        <img class="img-nav" src="img/home.png" alt="home"><span>Home</span>
                    </a>
                </li>
                <li class="li-nav">
                    <a class="main-page-link" href="/rating">
                        <img class="img-nav" src="img/rating.png" alt="rating"><span>Rating</span>
                    </a>
                </li>
                <li class="li-nav">
                    <a class="main-page-link" href="/profiles">
                        <img class="img-nav" src="img/user.png" alt="user"><span>Profiles</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="container">
        
    <img src="img/1.png" alt="photo" style="border-radius: 10px;" class="achievpng">
    <img src="img/2.png" alt="photo" style="border-radius: 10px;" class="achievpng">
    <img src="img/3.png" alt="photo" style="border-radius: 10px;" class="achievpng">
    <img src="img/4.png" alt="photo" style="border-radius: 10px;" class="achievpng">
    <img src="img/5.png" alt="photo" style="border-radius: 10px;" class="achievpng">
    <img src="img/6.png" alt="photo" style="border-radius: 10px;" class="achievpng">
    <img src="img/5.png" alt="photo" style="border-radius: 10px;" class="achievpng">
    <img src="img/6.png" alt="photo" style="border-radius: 10px;" class="achievpng">

</div>
    <footer>
        <div id="footer" class="container">
                <a href="Apoyando.html">© Apoyando</a>
                <ul>
                    <li><a  href="https://www.youtube.com/@beinesabaaq"><img src="img/youtube.png" >Youtube</a></li> <!-- Adjusted image source -->
                    <li><a  href="https://t.me/djdj742"><img src="img/telegram.png" >Telegram</a></li> <!-- Adjusted image source -->
                    <li><a  href="https://www.instagram.com/apoyandooo/"><img src="img/instagram.png">Instagram</a></li> <!-- Adjusted image source -->
                </ul>
        </div>
    
    </footer>
</body>
</html>
